@font-face {
    font-family: 'Blanka';
    src: url('../fonts/Blanka-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon milk';
    src: url('../fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #AF59D9;
    --secondary-color: #D959D8;
    --touch-color: #D9598B;
}

body {
    background: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lemon milk';
    color: #ffffff;
}




