@import url(app.css);

:root {
    --div-width: 450px;
    --div-height: 250px;
}

#container-streams {
    margin-top: 50px;
}

#streams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#streams .stream {
    position: relative;
    margin: 5%;
    width: var(--div-width);
    height: var(--div-height);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#streams .stream a {
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .data {
        position: absolute;
        opacity: 0;
    }
    
    .data:hover {
        opacity: 1;
    }
}

.data {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: .2s;
    background: linear-gradient(#00000000, #000000b4);
}


.data .title {
    backdrop-filter: blur(5px);
    background-color: #d959d97a;
    color: var(--touch-color);
    text-shadow: 1px 1px 1px #000;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    align-items: center;
    width: 75%;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stream .live_circle_svg {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    width: 10px;
    height: 10px;
}

.views {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
    color: #fff;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    background: #d959d97a;
    border-radius: 10px 10px 0 0;
    gap: 5px;
    text-shadow: 1px 1px 1px #000;
    border-top: 2px solid #fff;
}

.views p {
    margin: 0;
}

.views .views_svg {
    color: #fff;
    width: 20px;
    height: 20px;
}


.views .views_svg .views_svg_pupils {
    color: var(--secondary-color);
}