@import url(app.css);

:root {
    --div-width: 450px;
    --div-height: 250px;
}

#container-streams {
    margin-top: 50px;
}

#streams {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#streams .stream {
    position: relative;
    margin: 30px 1%;
    width: var(--div-width);
    height: var(--div-height);
    border-radius: 10px;
    border: 2px 2px 2px solid #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#streams .stream a {
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .data {
        position: absolute;
        opacity: 0;
    }
    
    .data:hover {
    opacity: 1;
    border: 2px solid #fff;
    }
}

.data {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


.data p {
    backdrop-filter: blur(5px);
    background-color: #d959d97a;
    color: var(--touch-color);
    text-shadow: 1px 1px 1px #000;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    align-items: center;
    width: 75%;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}